/***** COLOR/DIMENSIONS VARIABLES *****/
:root {
    --color-brink-pink: #FF7384;
    /* font color for black */
    --color-mexican-red: #A61E2F;
    /* secondary theme */
    --color-cocoa-brown: #291F1F;
    /* primary theme */
    --color-cod-gray: #121010;
    /* darker version of primary theme */
    --color-gallery: #F0F0F0;
    --color-nav: rgba(22, 18, 18, 0.7);
    --color-home-overlay: rgba(22, 18, 18, 0.6);
    --color-about-overlay: rgba(41, 31, 31, 0.7);
    --color-menu-overlay: rgba(41, 31, 31, 0.3);
    --min-height-header: calc(100vh - 141.767px);
}

/***** BASE LAYERS *****/
* {
    box-sizing: border-box;
    font-family: 'Playfair Display', Georgia, Arial, "Times New Roman", serif;
}

a, button, .nav-list>*, input[type=button] {
    cursor: pointer;
}

/* REUSABLE CLASSES */
.o-wrapper {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
}

.border-width--2px {
    border-width: 2px;
}

.border-width--3px {
    border-width: 3px;
}

.primary-btn, .primary-btn--large {
    background-color: var(--color-mexican-red);
    color: #fff;
}

.primary-btn {
    padding: 5px 15px;
    font: normal 800 16px 'Playfair Display';
    border: 2px solid #fff;
}

.primary-btn--large {
    font: normal 800 24px 'Playfair Display';
    padding: 10px 30px;
    border: 4px solid #fff;
    text-transform: uppercase;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon, .facebook-icon, .instagram-icon, .twitter-icon, .google-icon, .phone-icon, .email-icon, .location-icon {
    padding: 5px 10px;
}

/* ICONS */
.facebook-icon {
    background: url('../images/icons/facebook.svg') no-repeat;
    height: 19.5px;
    width: 11.4px;
}

.instagram-icon {
    background: url('../images/icons/instagram.svg') no-repeat;
    height: 18.9px;
    width: 18.9px;
}

.twitter-icon {
    background: url('../images/icons/twitter.svg') no-repeat;
    height: 17.7px;
    width: 21.5px;
}

.google-icon {
    background: url('../images/icons/google.svg') no-repeat;
    width: 19.5px;
    height: 19.5px;
}

.phone-icon {
    background: url('../images/icons/phone.svg') no-repeat;
    width: 21.6px;
    height: 24px;
}

.email-icon {
    background: url('../images/icons/email.svg') no-repeat;
    width: 24px;
    height: 19px;
}

.location-icon {
    background: url('../images/icons/location.svg') no-repeat;
    width: 18px;
    height: 21px;
}

/***** PROJECT LAYERS *****/
.site__main, .footer, .site__header {
    z-index: 10;
}

/* HEADER */
.site__header {
    position: relative;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

.site__header>* {
    width: inherit;
}

.header-inner {
    background-color: var(--color-cocoa-brown);
}

.nav-inner {
    background: var(--color-nav);
}

.logo-wrapper {
    width: 100%;
    text-align: center;
    padding: 14px 0;
}

.logo-text {
    color: #fff;
    font: italic 600 36px 'Playfair Display';
    padding: 12px 0;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    height: inherit;
}

.nav-link {
    padding: 0 17px;
}

.nav-list {
    width: 500px;
    height: 65px;
    font: 17px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    list-style-type: none;
}

.nav-list>* {
    margin: 0 30px;
}

.nav-item, .nav-menu .nav-link {
    height: 100%;
    color: #fff;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.sm-links>.nav-item {
    padding: 0 5px;
}

.nav-btns>button:not(:last-child) {
    margin-right: 14px;
}

/*** MAIN ***/
.site__main {
    position: relative;
    min-height: var(--min-height-header);
    height: max-content;
    z-index: 10;
}

.hero {
    top: 0;
    left: 0;
    min-height: max-content;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    z-index: 1;
}

.hero-home {
    position: absolute;
    background-image: url('../images/heroes/hero_home.jpg');
}

.hero-about {
    background-image: url('../images/heroes/hero_about.jpg');
    position: fixed;
}

.hero-menu {
    position: fixed;
    background-image: url('../images/heroes/hero_menu.jpg');
}

.hero-contact {
    position: absolute;
    background-image: url('../images/heroes/hero_contact.jpg');
}

/* MODULE - HOME */
.module__home-page, .module__about-page, .module__menu-page, .module__contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    height: inherit;
    color: #fff;
    width: 100%;
}

.low-dark-opacity-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 102%;
    width: 54%;
    background-color: var(--color-home-overlay);
    margin-top: -2px;
    z-index: 3;
}

.module__home-page .home-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 55vh;
}

.module__home-page .hero-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    height: max-content;
    width: 100%;
    z-index: 10;
}

.module__home-page .intro-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    min-width: 300px;
}

.module__home-page .primary-txt {
    font: normal 600 clamp(3.2em, 4vw, 8em) 'Playfair Display';
    padding: 0 0 20px 0;
}

.module__home-page .secondary-txt {
    font: italic 500 clamp(2em, 2vw, 4em) 'Playfair Display';
}

.module__home-page .btn-container {
    display: flex;
    flex-direction: column;
}

.btn-container>button {
    margin: 15px 0;
}

.hero-btn-reservations {
    display: none;
}

/* MODULE - ABOUT */
.about-wrapper {
    display: flex;
    align-self: center;
    min-height: var(--min-height-header);
    height: max-content;
}

.about-content-wrapper {
    position: relative;
    align-self: center;
    min-height: 730px;
    height: max-content;
    max-height: max-content;
    border: 4px solid var(--color-brink-pink);
    background-color: var(--color-about-overlay);
    margin: 80px 0;
}

.about-content-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 80%;
    height: max-content;
    max-height: max-content;
    width: 100%;
    padding: 0 60px;
    align-self: center;
    gap: 80px;
}

.about-content-info {
    flex: 4 1 auto;
    color: #fff;
    padding-bottom: 40px;
}

.about-content-header {
    font: normal 500 48px 'Playfair Display';
}

.about-content-txt {
    font: normal 500 18px 'Playfair Display';
    line-height: 24px;
}

.about-content-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 0 70px 0;
}

.about-owner-wrapper, .about-content-header {
    margin-bottom: 55px;
}

.about-owner-wrapper {
    width: 202px;
    height: 315px;
}

.about-owner-wrapper, .about-cafe-wrapper {
    position: relative;
    border: 3px solid var(--color-brink-pink);
}

.about-owner, .about-cafe {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 3px solid #fff;
    transition: transform .4s ease-out;
    z-index: 15;
}

.about-owner {
    background: url('../images/personal/owner.jpg') no-repeat center center;
    transform: translateX(30px) translateY(-30px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-cafe-wrapper {
    width: 315px;
    height: 175px;
}

.about-cafe {
    background: url('../images/heroes/hero_about.jpg') no-repeat center center;
    transform: translateX(-60px) translateY(15px) rotate(-15deg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.journey-wrapper {
    height: max-content;
    background-color: var(--color-mexican-red);
    height: 580px;
}

.journey-content-container {
    display: flex;
    align-items: center;
    border: 4px solid #fff;
}

.journey-content-container>*:not(:first-child) {
    padding: 0 35px;
}

.journey-img-wrapper {
    position: relative;
    width: 158px;
    height: 390px;
}

.journey-content-img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: url('../images/personal/journey.jpg') no-repeat center center fixed;
    background-size: center;
    padding-left: 100px;
}

.journey-content-header {
    font: normal normal 64px 'Playfair Display';
    width: min-content;
    line-height: 85px;
}

.journey-content-txt {
    font: italic 600 24px 'Playfair Display';
    line-height: 32px;
    text-align: right;
    padding-right: 30px;
}

/*** MODULE - MENU ***/
.module__menu-page {
    width: 100%;
    background-color: var(--color-menu-overlay);
}

.menu {
    width: 100%;
    background-color: var(--color-cocoa-brown);
    color: #fff;
    padding: 80px 20px;
    margin: 50px 0;
    text-align: center;
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.25);
    border: 8px solid #fff;
}

.menu__header {
    font: italic 600 72px 'Playfair Display';
    margin: 0 0 50px 0;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.menu-list__food-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 70px 0;
}

.menu-list__header {
    width: 100%;
    font: normal bold 42px 'Playfair Display';
    border-bottom: 1px solid rgb(175, 162, 162);
    margin-bottom: 40px;
}

.menu-list__products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.menu-list__product {
    border: 1px solid rgb(175, 162, 162);
    width: 300px;
    height: max-content;
}

.menu-product__preview-wrapper {
    position: relative;
    width: 100%;
    height: 175px;
}

.menu-product__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    z-index: 15;
    transition: opacity .7s linear;
}

.menu-product__info-upper {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-mexican-red);
    color: #fff;
    font: normal 600 24px 'Playfair Display';
}

.menu-product__info-upper, .menu-product__info-lower {
    padding: 10px 5px;
}

.menu-product__desc {
    text-align: start;
}

/*** MODULE - CONTACT ***/
.module__contact-page {
    max-height: max-content;
    width: 100%;
}

.contact__header-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 203px;
}

.contact__header {
    font: normal 800 72px 'Playfair Display';
    line-height: 96px;
    text-align: center;
}

.contact__main {
    position: relative;
    min-height: calc(var(--min-height-header) - 203px);
    background-color: var(--color-gallery);
    height: max-content;
}

.contact__form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    margin: 0 auto;
    padding-right: 420px;
    height: max-content;
}

.contact__form>* {
    margin: 15px 0;
}

.contact-form__input-holders {
    max-width: 750px;
    display: flex;
    gap: 31px 20px;
    font: normal normal 18px Arial;
    flex-wrap: wrap;
}

.contact-form__inputs {
    font: normal normal 18px Arial;
    border: 1px solid rgba(46, 45, 45, 0.4);
    background-color: transparent;
    padding: 11px 0 11px 17px;
    flex: 1 1 300px;
}

.contact-form__inputs:last-child {
    min-height: 150px;
}

.contact-form__send-btn {
    width: 213px;
    height: 71px;
    background: var(--color-mexican-red);
    color: #fff;
    font: normal 600 36px 'Playfair Display';
    line-height: 48px;
}

.contact-form__header {
    padding: 20px 0;
    font: normal 800 36px 'Playfair Display';
    line-height: 48px;
    color: #000;
}

.contact__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--color-mexican-red);
    color: #fff;
}

.contact-list__img-wrapper {
    position: relative;
    width: 295px;
    height: 307px;
}

.contact-list__img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 25px;
    border: 4px solid #fff;
    background: url('../images/foods/contact_food.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-list__header {
    font: normal bold 18px Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 0 0 15px 0;
    text-align: center;
}

.contact-list__info {
    text-align: center;
    line-height: 30px;
}

/*** FOOTER ***/
.footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cod-gray);
    z-index: 10;
}

.footer-inner {
    flex-direction: column;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0 15px;
    font: italic 600 24px 'Playfair Display';
}

.contact-icon {
    fill: var(--color-brink-pink);
}

.footer-contacts .contact-item>* {
    display: inline;
    color: var(--color-brink-pink);
    padding: 0 12px;
    font-size: 24px;
}

.copyright {
    font: normal 500 24px 'Playfair Display';
    padding: 25px 0;
    text-align: center;
}

.copyright>a {
    color: #fff;
    text-decoration: none;
}

/***** COSMETIC LAYERS *****/
.nav-menu .active {
    background-color: var(--color-mexican-red);
    color: #fff;
}

.primary-btn:hover, .primary-btn--large:hover {
    background-color: #fff;
    color: var(--color-mexican-red);
}

.github-link:hover {
    text-decoration: underline;
}

.nav-menu>.nav-item:hover {
    background-color: var(--color-mexican-red);
}

.about-owner:hover {
    transform: translateX(0) translateY(0);
}

.about-cafe:hover {
    transform: translateX(0px) translateY(0px) rotate(0deg);
}

/***** MOBILE FRIENDLINESS *****/
@media screen and (max-width: 1000px) {
    .nav-btns {
        display: none;
    }

    .nav-container {
        justify-content: center;
    }

    .hero-btn-reservations {
        display: initial;
    }

    .about-content-container {
        flex-direction: column;
    }

    .about-content-images {
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .module__home-page, .module__about-page, .module__menu-page, .module__contact-page {
        height: max-content;
    }

    .hero-home, .hero-about, .hero-menu, .hero-contact {
        position: fixed;
    }

    .module__home-page .home-inner {
        padding: 40px 0;
        height: max-content;
    }
}

@media screen and (max-width: 744px) {
    .sm-links {
        display: none;
    }

    .about-content-images {
        flex-direction: column;
        width: 100%;
    }

    .low-dark-opacity-overlay {
        width: 100%;
        height: 60%;
        color: var(--color-mexican-red);
    }

    .module__home-page .hero-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

    .module__home-page .home-inner {
        height: 78vh;
    }

    .intro-text-container {
        margin: 0 0 30px 0;
    }

    .journey-content-container {
        flex-direction: column;
    }

    .menu {
        padding: 50px 8px;
        margin: 30px 0;
    }

    .menu__list {
        padding: 0 20px;
    }

    .menu-list__products {
        gap: 20px;
    }

    .module__contact-page {
        max-height: max-content;
        width: 100%;
    }

    .contact__header-wrapper {
        margin: 0 auto;
        width: 100%;
        height: 203px;
    }

    .contact__header {
        font-size: 42px;
        text-align: center;
    }

    .contact__form {
        padding: 10px 0;
        align-items: center;
    }

    .contact__form>* {
        margin: 15px 20px;
    }

    .contact-form__input-holders {
        gap: 10px 5px;
    }

    .contact-form__send-btn {
        width: 213px;
        height: 71px;
        background: var(--color-mexican-red);
        color: #fff;
        font: normal 600 36px 'Playfair Display';
        line-height: 48px;
    }

    .contact-form__header {
        padding: 20px 0;
        font: normal 800 36px 'Playfair Display';
        line-height: 48px;
        color: #000;
        text-align: center;
    }

    .contact__list {
        justify-content: space-evenly;
        width: 100%;
        position: initial;
        padding: 50px 0;
    }

    .contact-list__header, .contact-list__info {
        text-align: start;
        padding: 0 20px;
    }

    .contact-list__header {
        margin-top: 30px;
    }

    .footer-contacts {
        flex-direction: column-reverse;
        font: italic 600 15px 'Playfair Display';
    }
}


@media screen and (max-width: 428px) {
    .nav-btns {
        display: none;
    }

    .o-wrapper {
        padding: 0;
    }

    .logo-text {
        font-size: 28px;
    }

    .nav-link {
        padding: 0 11px;
    }

    .nav-container {
        justify-content: center;
    }

    .menu {
        padding: 50px 0;
        margin: 0;
        border: 0;
    }

    .menu__list {
        padding: 0;
    }

    .menu-list__products {
        gap: 30px 5px;
    }

    .footer-contacts {
        padding: 18px 0 4px;
    }
}